{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
   <div class="jumbotron text-center">
       <h1>name</h1>
       <p>text</p>

   </div>
{% endblock %}
